In [1]:
from IPython.display import display, HTML
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [2]:
import pandas as pd
df=pd.read_csv("GlobalLandTemperaturesByCity.csv")
data=df[df.dt>"1949-12-31"]
data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
2474,1950-01-01,-0.712,0.280,Århus,Denmark,57.05N,10.33E
2475,1950-02-01,1.423,0.218,Århus,Denmark,57.05N,10.33E
2476,1950-03-01,4.166,0.266,Århus,Denmark,57.05N,10.33E
2477,1950-04-01,6.743,0.310,Århus,Denmark,57.05N,10.33E
2478,1950-05-01,12.714,0.246,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [92]:
data_for_loc_table=data[['City','Latitude','Longitude']]
data_for_loc_table=data_for_loc_table.to_records(index=False)
result_data_for_loc_table=list(data_for_loc_table)
result_data_for_loc_table

[('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),
 ('Århus', '57.05N', '10.33E'),

In [3]:
records=data.to_records(index=False)
result=list(records)
req_resut=[]
#j=0
for i in result:
   # j=j+1
    req_resut.append((i[4],))
    #if j==10:
      # break

In [4]:
req_resut=list((set(req_resut)))
req_resut

[('Belgium',),
 ('Mali',),
 ('Bolivia',),
 ('Madagascar',),
 ('Nepal',),
 ('Italy',),
 ('Czech Republic',),
 ('Lebanon',),
 ('Laos',),
 ('Japan',),
 ('Cambodia',),
 ('Eritrea',),
 ('Bulgaria',),
 ('Suriname',),
 ('Reunion',),
 ('Guatemala',),
 ('Bosnia And Herzegovina',),
 ('Romania',),
 ('Macedonia',),
 ('Ethiopia',),
 ('Colombia',),
 ('Ukraine',),
 ('Uruguay',),
 ('Israel',),
 ('Pakistan',),
 ('Central African Republic',),
 ('Indonesia',),
 ('Slovenia',),
 ('Ireland',),
 ('Canada',),
 ('Belarus',),
 ('Oman',),
 ('Swaziland',),
 ('Bangladesh',),
 ('Mexico',),
 ('Tanzania',),
 ('Rwanda',),
 ('Niger',),
 ('Angola',),
 ('Guyana',),
 ('Peru',),
 ('Ecuador',),
 ('Serbia',),
 ('Turkey',),
 ('Guinea',),
 ('Sweden',),
 ('Germany',),
 ('Papua New Guinea',),
 ('Morocco',),
 ('Georgia',),
 ('Nicaragua',),
 ('Australia',),
 ('Gabon',),
 ('Nigeria',),
 ('Finland',),
 ('Panama',),
 ('Taiwan',),
 ('Norway',),
 ('Burundi',),
 ('Algeria',),
 ('Botswana',),
 ('Yemen',),
 ('Dominican Republic',),
 ('Syria',),
 ('Spain',),
 ('Costa Rica',),
 ('Libya',),
 ('Iceland',),
 ('Lithuania',),
 ('Armenia',),
 ('Austria',),
 ('Zimbabwe',),
 ('Portugal',),
 ('Argentina',),
 ('Equatorial Guinea',),
 ('Hong Kong',),
 ('Senegal',),
 ('Zambia',),
 ('Philippines',),
 ('Croatia',),
 ('Kenya',),
 ('Haiti',),
 ('South Korea',),
 ('Cuba',),
 ('Latvia',),
 ('Slovakia',),
 ('Togo',),
 ('Malawi',),
 ('Cyprus',),
 ('Somalia',),
 ('Iran',),
 ('Burkina Faso',),
 ('Tajikistan',),
 ('Guinea Bissau',),
 ('Puerto Rico',),
 ('Gambia',),
 ('Chad',),
 ('Kazakhstan',),
 ('Venezuela',),
 ('New Zealand',),
 ('Vietnam',),
 ('Hungary',),
 ("Côte D'Ivoire",),
 ('Switzerland',),
 ('Sri Lanka',),
 ('United Arab Emirates',),
 ('Ghana',),
 ('Uzbekistan',),
 ('Turkmenistan',),
 ('Djibouti',),
 ('Namibia',),
 ('Sudan',),
 ('Azerbaijan',),
 ('Poland',),
 ('Montenegro',),
 ('Mauritania',),
 ('Greece',),
 ('Mauritius',),
 ('Burma',),
 ('Liberia',),
 ('Tunisia',),
 ('Bahamas',),
 ('Estonia',),
 ('Congo',),
 ('Uganda',),
 ('India',),
 ('Qatar',),
 ('Chile',),
 ('Russia',),
 ('Bahrain',),
 ('Mozambique',),
 ('Congo (Democratic Republic Of The)',),
 ('Mongolia',),
 ('Singapore',),
 ('Thailand',),
 ('Moldova',),
 ('Afghanistan',),
 ('China',),
 ('United States',),
 ('Benin',),
 ('Honduras',),
 ('Jamaica',),
 ('Egypt',),
 ('Cameroon',),
 ('South Africa',),
 ('Paraguay',),
 ('United Kingdom',),
 ('Albania',),
 ('Netherlands',),
 ('Saudi Arabia',),
 ('Denmark',),
 ('Brazil',),
 ('Sierra Leone',),
 ('El Salvador',),
 ('Malaysia',),
 ('Iraq',),
 ('Jordan',),
 ('Lesotho',),
 ('France',)]

In [12]:
#req_result_2=[]
#j=0
#for i in result:
#    j=j+1
    
#    req_result_2.append((i[3],i[4]))
#    if j==10:
 #       break
#print(req_result_2)

[('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark'), ('Århus', 'Denmark')]

In [5]:
conn = create_connection('pythonproject.db')
cur=conn.cursor()

In [8]:
for i in range(len(req_result_2)-2):
    if (req_result_2[i][1]) != (req_result_3[i][3]):
        print(req_result_3[i][3]+req_result_2[i][1]+'a')

NameError: name 'req_result_2' is not defined

In [48]:
execute_sql_statement("DROP TABLE IF EXISTS City_Table",conn)
execute_sql_statement("DROP TABLE IF EXISTS Country_Table",conn)
#execute_sql_statement("DROP TABLE IF EXISTS City_Table",conn)
#execute_sql_statement("DROP TABLE IF EXISTS Temperature_Table",conn)
create_table(conn,'''CREATE TABLE Country_Table (PK INTEGER  PRIMARY KEY, Country_Name VARCHAR)''')
#create_table(conn,'''CREATE TABLE City_Table (PK INTEGER  PRIMARY KEY, City_Name VARCHAR , Country_Name VARCHAR,
#FOREIGN KEY(Country_Name) REFERENCES Country_Table(Country_Name))''')
#create_table(conn,'''CREATE TABLE Temperature_Table (PK INTEGER  PRIMARY KEY, DATE VARCHAR , Avg_Temp VARCHAR , City_Name VARCHAR , Country_Name VARCHAR,
#FOREIGN KEY(City_Name) REFERENCES City_Table(City_Name),FOREIGN KEY(Country_Name) REFERENCES Country_Table(Country_Name))''')
# for i in result:
#     a,b,c=i[4],i[5],i[6]
    #print(type(a),type(b),type(c))
    #print(a,b,c)
    #print("""INSERT INTO Country_Table ('Country_Name','LAT','LONG') Values ('"""+i[4]+"'"+",'"+i[5]+"','"+i[6]+"')")
    #print(a,b,c)
    #print(f'''INSERT INTO Country_Table ('Country_Name','LAT','LONG') Values ('{i[4]}','{i[5]}','{i[6]}')''')
cur.executemany("INSERT INTO Country_Table ('Country_Name') Values (?)",req_resut)
#cur.executemany("INSERT INTO City_Table ('City_Name','Country_Name') Values (?,?)",req_result_2)
#cur.executemany("INSERT INTO Temperature_Table ('DATE','Avg_Temp','City_Name','Country_Name') Values (?,?,?,?)",req_result_3)

In [49]:
abc=execute_sql_statement("Select * from Country_Table", conn)
abc1={}
for i in abc:
    abc1[i[1]]=i[0]
#abc1

In [50]:
req_result_2=[]
#j=0
for i in result:
    
    #j=j+1
    req_result_2.append((i[3],abc1[i[4]]))
   # if j==10:
       #break
#print(req_result_2)

In [51]:
create_table(conn,'''CREATE TABLE City_Table (City_Id INTEGER  PRIMARY KEY, City_Name VARCHAR , Country_ID INTEGER,
FOREIGN KEY(Country_ID) REFERENCES Country_Table(PK))''')

In [52]:
city=[]
for i in result:
   # j=j+1
    city.append((i[3],abc1[i[4]]))
city_country_unique=list((set(city)))

#for i in city_country_unique:
 #   i[1]=abc1[i[1]]
#city_country_unique

In [54]:
cur.executemany("INSERT INTO City_Table ('City_Name','Country_ID') Values (?,?)",city_country_unique)

In [71]:
#df=execute_sql_statement("Select * from City_Table", conn)
df=pd.read_sql_query("Select * from City_Table", conn)
display(df)

      City_Id         City_Name  Country_ID
0           1            Braila          18
1           2             Rabat          49
2           3            Asmara          12
3           4            Caxias         152
4           5             Ezhou         138
...       ...               ...         ...
3485     3486           Chakwal          25
3486     3487        Port Louis         118
3487     3488           Oakland         139
3488     3489             Basti         126
3489     3490  Colorado Springs         139

[3490 rows x 3 columns]

In [56]:
df1=pd.read_sql_query("Select * from Country_Table", conn)
display(df1)

      PK Country_Name
0      1      Belgium
1      2         Mali
2      3      Bolivia
3      4   Madagascar
4      5        Nepal
..   ...          ...
154  155     Malaysia
155  156         Iraq
156  157       Jordan
157  158      Lesotho
158  159       France

[159 rows x 2 columns]

In [58]:
execute_sql_statement("select * from City_Table join Country_Table on Country_Table.PK = City_Table.Country_ID AND Country_Table.Country_Name='India' LIMIT 10",conn)

[(18, 'Haora', 126, 126, 'India'),
 (20, 'Bhadreswar', 126, 126, 'India'),
 (33, 'Khandwa', 126, 126, 'India'),
 (36, 'Godhra', 126, 126, 'India'),
 (48, 'Orai', 126, 126, 'India'),
 (50, 'Thanesar', 126, 126, 'India'),
 (73, 'Bahadurgarh', 126, 126, 'India'),
 (94, 'Hoshiarpur', 126, 126, 'India'),
 (96, 'Kanpur', 126, 126, 'India'),
 (138, 'Chhatarpur', 126, 126, 'India')]

In [62]:
city_table_values=execute_sql_statement("select * from City_Table ",conn)
city_ids={}
for i in city_table_values:
    city_ids[i[1]]=i[0]
city_ids

{'Braila': 1,
 'Rabat': 2,
 'Asmara': 3,
 'Caxias': 4,
 'Ezhou': 5,
 'Teresina': 6,
 'Tirana': 7,
 'Jiayuguan': 8,
 'Atibaia': 9,
 'Mwene Ditu': 10,
 'Regina': 11,
 'Santa Luzia': 12,
 'Ica': 13,
 'Philadelphia': 14,
 'Bila Tserkva': 15,
 'Khimki': 16,
 'Lapu Lapu': 17,
 'Haora': 18,
 'Thaton': 19,
 'Bhadreswar': 20,
 'Wenzhou': 21,
 'San Nicolas': 22,
 'Yelets': 23,
 'Jimeta': 24,
 'Moriguchi': 25,
 'Kryvyy Rih': 26,
 'Omaha': 27,
 'Nawabshah': 28,
 'Adiwerna': 29,
 'Coacalco': 30,
 'Mytishchi': 31,
 'Mishima': 32,
 'Khandwa': 33,
 'Kirovohrad': 34,
 'Tychy': 35,
 'Godhra': 36,
 'Passo Fundo': 37,
 'Cartago': 38,
 'Orléans': 39,
 'Lille': 40,
 'Salihorsk': 41,
 'Olathe': 42,
 'Pomona': 43,
 'Aksu': 44,
 'Usak': 45,
 'Uitenhage': 46,
 'Leiyang': 47,
 'Orai': 48,
 'Yokkaichi': 49,
 'Thanesar': 50,
 'Anchorage': 51,
 'Douala': 52,
 'Abidjan': 53,
 'Temirtau': 54,
 'Yibin': 55,
 'Edéa': 56,
 'Beian': 57,
 'Arvada': 58,
 'Ogaki': 59,
 'Vilnius': 60,
 'Hangzhou': 61,
 'Potsdam': 62,
 'Bratsk': 63,
 'Jhelum': 64,
 'Budapest': 65,
 'Los Teques': 66,
 'Brikama': 67,
 'Kediri': 68,
 'Huangcun': 69,
 'Trelew': 70,
 'Colchester': 71,
 'Gorontalo': 72,
 'Bahadurgarh': 73,
 'Jiangyou': 74,
 'Puebla': 75,
 'Chimbote': 76,
 'Yantai': 77,
 'Valencia': 2864,
 'Spring Valley': 79,
 'Tongchuan': 80,
 'Gandajika': 81,
 'Funtua': 82,
 'Green Bay': 83,
 'Hargeysa': 84,
 'Jaffna': 85,
 'Florence': 86,
 'Tianmen': 87,
 'Apodaca': 88,
 'Ungaran': 89,
 'Sagamihara': 90,
 'The Hague': 91,
 'Petapa': 92,
 'Bahawalpur': 93,
 'Hoshiarpur': 94,
 'Zaoyang': 95,
 'Kanpur': 96,
 'Takaoka': 97,
 'Guarujá': 98,
 'Port Moresby': 99,
 'Downey': 100,
 'Fengshan': 101,
 'Riga': 102,
 'Nice': 103,
 'Iwaki': 104,
 'Vitória Da Conquista': 105,
 'Salinas': 106,
 'Wloclawek': 107,
 'Mazyr': 108,
 'Wellington': 109,
 'Benha': 110,
 'Wichita': 111,
 'Sunnyvale': 112,
 'Huaibei': 113,
 'Chaozhou': 114,
 'Longyan': 115,
 'Shaoxing': 116,
 'Touliu': 117,
 'Vancouver': 469,
 'Linshui': 119,
 'Malang': 120,
 'Magnitogorsk': 121,
 'Petropavlovsk Kamchatskiy': 122,
 'Ibadan': 123,
 'Petare': 124,
 'Magé': 125,
 'Maringá': 126,
 'Tarhunah': 127,
 'Celaya': 128,
 'Huancayo': 129,
 'Yevpatoriya': 130,
 'Kariya': 131,
 'Sakura': 132,
 'Lvov': 133,
 'Varna': 134,
 'Yerevan': 135,
 'Poá': 136,
 'Juliaca': 137,
 'Chhatarpur': 138,
 'Ivanovo': 139,
 'Jerusalem': 140,
 'Malambo': 141,
 'Nandurbar': 142,
 'Amroha': 143,
 'Belgorod': 144,
 'Rangpur': 145,
 'Nis': 146,
 'Tokyo': 147,
 'Guantánamo': 148,
 'Kure': 149,
 'Tacloban': 150,
 'Stockton': 151,
 'Gojra': 152,
 'Naucalpan': 153,
 'Moradabad': 154,
 'Neyveli': 155,
 'Clermont Ferrand': 156,
 'Bandung': 157,
 'Maanshan': 158,
 'Tianjin': 159,
 'Garza García': 160,
 'Baia Mare': 161,
 'Tanshui': 162,
 'Chita': 163,
 'Tengzhou': 164,
 'Vanadzor': 165,
 'Vizianagaram': 166,
 'Udon Thani': 167,
 'Beni Suef': 168,
 'Turhal': 169,
 'Ludwigshafen': 170,
 'Evansville': 171,
 'Blitar': 172,
 'Hyderabad': 1474,
 'Namangan': 174,
 'Xinzhou': 175,
 'Colombo': 885,
 'Badalona': 177,
 'Louga': 178,
 'Gloucester': 179,
 'Mariara': 180,
 'Visakhapatnam': 181,
 'Madhyamgram': 182,
 'Tripoli': 183,
 'Luque': 184,
 'Daloa': 185,
 'Goiânia': 186,
 'Araraquara': 187,
 'Bissau': 188,
 'Misato': 189,
 'Itapevi': 190,
 'Miandoab': 191,
 'Torreón': 192,
 'Middlesbrough': 193,
 'Lengshuijiang': 194,
 'Irbil': 195,
 'Ashdod': 196,
 'Kolomna': 197,
 'Houma': 198,
 'Yenangyaung': 199,
 'Abu Dhabi': 200,
 'Pontianak': 201,
 'Bialystok': 202,
 'Antofagasta': 203,
 'Goma': 204,
 'Ongole': 205,
 'Tumkur': 206,
 'Jalpaiguri': 207,
 'Gudivada': 208,
 'Sudbury': 209,
 'Mahbubnagar': 210,
 'Shreveport': 211,
 'La Rioja': 212,
 'Newcastle': 2044,
 'Warsaw': 214,
 'Kiel': 215,
 'Morvi': 216,
 'Kurume': 217,
 'Teófilo Otoni': 218,
 'Derby': 219,
 'Idlib': 220,
 'Kakinada': 221,
 'Jhansi': 222,
 'Komaki': 223,
 'Badlapur': 224,
 'Santa Maria': 225,
 'Leghorn': 226,
 'Jinchengjiang': 227,
 'Buffalo': 228,
 'Kassel': 229,
 'Katumba': 230,
 'San Juan': 706,
 'Palwal': 232,
 'Bielsko Biala': 233,
 'Brasília': 234,
 'Lusaka': 235,
 'Ingraj Bazar': 236,
 'Bilbao': 237,
 'Brescia': 238,
 'Almetyevsk': 239,
 'Chiclayo': 240,
 'Norman': 241,
 'Gorgan': 242,
 'Ratlam': 243,
 'Mataró': 244,
 'Selam': 245,
 'Mawlamyine': 246,
 'Gravataí': 247,
 'Roseville': 248,
 'Suining': 249,
 'Maragheh': 250,
 'Lembang': 251,
 'Guayaquil': 252,
 'Bello': 253,
 'Siirt': 254,
 'Algeciras': 255,
 'Fuzhou': 256,
 'Derbent': 257,
 'Haicheng': 258,
 'Barueri': 259,
 'Banjarmasin': 260,
 'Rajpur': 261,
 'São Caetano Do Sul': 262,
 'Cilegon': 263,
 'Pretoria': 264,
 'Bulawayo': 265,
 'Montería': 266,
 'Sambalpur': 267,
 'Nanyang': 268,
 'Graz': 269,
 'Meiktila': 270,
 'Bournemouth': 271,
 'Cikampek': 272,
 'Lleida': 273,
 'Pondicherry': 274,
 'Kashihara': 275,
 'Ibirité': 276,
 'Wroclaw': 277,
 'Jersey City': 278,
 'Kuantan': 279,
 'San Miguelito': 280,
 'Lira': 281,
 'Bologna': 282,
 'Carmen': 283,
 'Jolo': 284,
 'Zenica': 285,
 'Bridgeport': 286,
 'Thanjavur': 287,
 'Ibagué': 288,
 'Midrand': 289,
 'Cibinong': 290,
 'Nancy': 291,
 'Castanhal': 292,
 'Maracanaú': 293,
 'Oulu': 294,
 'Xichang': 295,
 'Maturín': 296,
 'Guaymas': 297,
 'Bombay': 298,
 'Imabari': 299,
 'Ningbo': 300,
 'Jiroft': 301,
 'Anyang': 302,
 'Morena': 303,
 'Vidisha': 304,
 'Jingdezhen': 305,
 'Esenyurt': 306,
 'Cairns': 307,
 'Jaú': 308,
 'Tapachula': 309,
 'Cimahi': 310,
 'Queimados': 311,
 'Itajaí': 312,
 'Volgodonsk': 313,
 'Mandi Bahauddin': 314,
 'Embu': 315,
 'Parana': 316,
 'Beaumont': 317,
 'Çorlu': 318,
 'Djougou': 319,
 'Santa Fe': 320,
 'Overland Park': 321,
 'Cincinnati': 322,
 'Danshui': 323,
 'Arlington': 324,
 'Cianjur': 325,
 'Jequié': 326,
 'Pyay': 327,
 'Chalco': 328,
 'Ürümqi': 329,
 'Fuxin': 330,
 'Mandsaur': 331,
 'Malatya': 332,
 'Campeche': 333,
 'Carúpano': 334,
 'Baharampur': 335,
 'Punta Arenas': 336,
 'Enschede': 337,
 'Nehe': 338,
 'Nuevo Laredo': 339,
 'Guntur': 340,
 'Khuzdar': 341,
 'San Diego': 342,
 'Guna': 343,
 'Yatsushiro': 344,
 'Perm': 345,
 'Khairpur': 346,
 'Garut': 347,
 'Shahreza': 348,
 'Yuci': 349,
 'Anbu': 350,
 'Ranghulu': 351,
 'Puqi': 352,
 'Hamilton': 3150,
 'Ocumare Del Tuy': 354,
 'Ciputat': 355,
 'Potosí': 356,
 'Rostov Na Donu': 357,
 'Satkhira': 358,
 'Taunggyi': 359,
 'Teluknaga': 360,
 'Qandahar': 361,
 'Uruguaiana': 362,
 'Alexandria': 1256,
 'Lincoln': 364,
 'Ambattur': 365,
 'Novi Sad': 366,
 'Calgary': 367,
 'Nacala': 368,
 'Thanyaburi': 369,
 'Port Said': 370,
 'Amadora': 371,
 'Cicalengka': 372,
 'Walsall': 373,
 'Hardoi': 374,
 'Barakpur': 375,
 'Cibadak': 376,
 'Awassa': 377,
 'Komsomolsk Na Amure': 378,
 'Orizaba': 379,
 'Cienfuegos': 380,
 'Joetsu': 381,
 'Joinville': 382,
 'Kashan': 383,
 'Apucarana': 384,
 'Matsusaka': 385,
 'Shashi': 386,
 'Wahran': 387,
 'Tokuyama': 388,
 'Minsk': 389,
 'Helsinki': 390,
 'Cubatão': 391,
 'Syktyvkar': 392,
 'Haridwar': 393,
 'Divo': 394,
 'Manta': 395,
 'Santa Rosa': 3124,
 'Kanchipuram': 397,
 'Acuña': 398,
 'Phan Thiet': 399,
 'Montgomery': 400,
 'Huixquilucan': 401,
 'Khoy': 402,
 'Campo Grande': 403,
 'Hrodna': 404,
 'Tarija': 405,
 'Prizren': 406,
 'Bragança Paulista': 407,
 'Quito': 408,
 'Buhe': 409,
 'Hue': 410,
 'Mubi': 411,
 'Kamalia': 412,
 'Ryazan': 413,
 'Sambhal': 414,
 'San Francisco De Macorís': 415,
 'Tieli': 416,
 'Mossoró': 417,
 'Cisarua': 418,
 'Gudalur': 419,
 'Hsintien': 420,
 'Veraval': 421,
 'Shantipur': 422,
 'Nogales': 423,
 'Mianyang': 424,
 'Chavakachcheri': 425,
 'Pingxiang': 426,
 'Inglewood': 427,
 'Baguio': 428,
 'Ikere': 429,
 'Vitoria': 430,
 'Cajamarca': 431,
 'Ciudad Valles': 432,
 'Amarillo': 433,
 'Pietermaritzburg': 434,
 'Ahmadpur East': 435,
 'Lafayette': 436,
 'Taranto': 437,
 'Paris': 438,
 'Majalaya': 439,
 'Viransehir': 440,
 'Mulhouse': 441,
 'Madurai': 442,
 'Kotte': 443,
 'Fort Lauderdale': 444,
 'Perugia': 445,
 'Kirkuk': 446,
 'Southend On Sea': 447,
 'Tenali': 448,
 'Bandundu': 449,
 'Srinagar': 450,
 'Timon': 451,
 'Palma': 452,
 'Odawara': 453,
 'Yungho': 454,
 'Campina Grande': 455,
 'Zaragoza': 456,
 'Chenghai': 457,
 'Sabadell': 458,
 'Benghazi': 459,
 'Dasmariñas': 460,
 'Uberlândia': 461,
 'Waterbury': 462,
 'Parnaíba': 463,
 'Padalarang': 464,
 'Rondonópolis': 465,
 'Osasco': 466,
 'Susah': 467,
 'Achinsk': 468,
 'Purnia': 470,
 'Tilburg': 471,
 'Lucena': 472,
 'Duque De Caxias': 473,
 'Pimpri': 474,
 'East Los Angeles': 475,
 'Dortmund': 476,
 'Szeged': 477,
 'Bukan': 478,
 'Huntsville': 479,
 'Dera Ghazi Khan': 480,
 'Dharan': 481,
 'Marand': 482,
 'Durango': 483,
 'Bochum': 484,
 'Oshogbo': 485,
 'Ontario': 486,
 'Guatire': 487,
 'Linchuan': 488,
 'Krishnanagar': 489,
 'Numazu': 490,
 'Villavicencio': 491,
 'Cape Town': 492,
 'Tegucigalpa': 493,
 'Loum': 494,
 'Khartoum': 495,
 'Ebetsu': 496,
 'Cascavel': 497,
 'Lubumbashi': 498,
 'Kimberley': 499,
 'Delmas': 500,
 'Nevinnomyssk': 501,
 'Punto Fijo': 502,
 'Santa Clarita': 503,
 'Eslamshahr': 504,
 'Mogadishu': 505,
 'Ogbomosho': 506,
 'Calabar': 507,
 'Debrecen': 508,
 'Marrakesh': 509,
 'Kandy': 510,
 'Itarsi': 511,
 'Nanpiao': 512,
 'Dese': 513,
 'Oyo': 514,
 'Raniganj': 515,
 'Jundiaí': 516,
 'Sepatan': 517,
 'Khujand': 518,
 'Irkutsk': 519,
 'Toledo': 2477,
 'Exeter': 521,
 'Rishra': 522,
 'Asaka': 523,
 'Butembo': 524,
 'New Haven': 525,
 'Parakou': 526,
 'Piracicaba': 527,
 'Vitória': 528,
 'Nova Friburgo': 529,
 'San Jose': 530,
 'Miramar': 531,
 'Chemnitz': 532,
 'Lawang': 533,
 'Bengbu': 534,
 'Santos': 535,
 'Bhimavaram': 536,
 'Rewa': 537,
 'Fuchu': 538,
 'Dezful': 539,
 'Getafe': 540,
 'Bergisch Gladbach': 541,
 'Jinzhou': 542,
 'Forlì': 543,
 'Haldwani': 544,
 'La Paz': 3156,
 'Nzérékoré': 546,
 'Gardez': 547,
 'Zhicheng': 548,
 'Quetzaltenango': 549,
 'Beppu': 550,
 'Santa Cruz De Tenerife': 551,
 'Sari': 552,
 'Yanji': 553,
 'Kemang': 554,
 'Engels': 555,
 'Melbourne': 556,
 'Semnan': 557,
 'Mutare': 558,
 'Kota Kinabalu': 559,
 'Newport News': 560,
 'Corrientes': 561,
 'Noda': 562,
 'Ikirun': 563,
 'Jerez': 564,
 'Buzau': 565,
 'Miri': 566,
 'Kamakura': 567,
 'León': 2726,
 'Virginia Beach': 569,
 'Baoding': 570,
 'Kovrov': 571,
 'Zaporizhzhya': 572,
 'Shikarpur': 573,
 'Kochi': 574,
 'Alandur': 575,
 'Sinnar': 576,
 'Koblenz': 577,
 'Jackson': 578,
 'Long Beach': 579,
 'Mandaue': 580,
 'Zhoucun': 581,
 'Maseru': 582,
 'Gongzhuling': 583,
 'Saint Louis': 2993,
 'Xiaolan': 585,
 'Coimbra': 586,
 'Yancheng': 587,
 'Nagercoil': 588,
 'Tachikawa': 589,
 'Huaihua': 590,
 'Hamburg': 591,
 'Olsztyn': 592,
 'Surat': 593,
 'Dimapur': 594,
 'Offa': 595,
 'Reykjavík': 596,
 'Kitakyushu': 597,
 'Bugama': 598,
 'Petaling Jaya': 599,
 'Queenstown': 600,
 'Nandyal': 601,
 'Tirupati': 602,
 'Santa Clara': 1573,
 'Nova Iguaçu': 604,
 'Talca': 605,
 'Akita': 606,
 'Vienna': 607,
 'Pakokku': 608,
 'Juba': 609,
 'Uji': 610,
 'Mau': 611,
 'Birganj': 612,
 'Dubai': 613,
 'Bangkok': 614,
 'Abiko': 615,
 'Hadejia': 616,
 'Madrid': 617,
 'Winston Salem': 618,
 'Shiliguri': 619,
 'Harare': 620,
 'Coro': 621,
 'Barcelona': 1038,
 'Purworejo': 623,
 'Nakhon Si Thammarat': 624,
 'Soledad': 625,
 'Kresek': 626,
 'Huzhou': 627,
 'Tlalnepantla': 628,
 'Rennes': 629,
 'Asahikawa': 630,
 'Daugavpils': 631,
 'Khanewal': 632,
 'Kobe': 633,
 'Tabriz': 634,
 'Daito': 635,
 'Austin': 636,
 'Orlando': 637,
 'Magelang': 638,
 'Brighton': 639,
 'Várzea Grande': 640,
 'Birnin Kebbi': 641,
 'Apeldoorn': 642,
 'Korla': 643,
 'South Bend': 644,
 'Taicheng': 645,
 'Portmore': 646,
 'Ishinomaki': 647,
 'Ikole': 648,
 'Niigata': 649,
 'Hengyang': 650,
 'Sofia': 651,
 'Iida': 652,
 'Dos Hermanas': 653,
 'Robertsonpet': 654,
 'Honggang': 655,
 'Kankan': 656,
 'Kahramanmaras': 657,
 'Maicao': 658,
 'Pinsk': 659,
 'Vladivostok': 660,
 'Himeji': 661,
 'Bacau': 662,
 'Belfast': 663,
 'Herne': 664,
 'Cambridge': 2489,
 'Qunduz': 666,
 'Abakaliki': 667,
 'Riverside': 668,
 'Nizhnekamsk': 669,
 'Caen': 670,
 'Witbank': 671,
 'Zigong': 672,
 'Birigui': 673,
 'Le Mans': 674,
 'Izmit': 675,
 'Sialkot': 676,
 'Syracuse': 1053,
 'Novomoskovsk': 678,
 'Mostar': 679,
 'Belgaum': 680,
 'Eastbourne': 681,
 'Edinburgh': 682,
 'Hegang': 683,
 'Velluru': 684,
 'Mufulira': 685,
 'Beirut': 686,
 'Murom': 687,
 'Kashiwa': 688,
 'Waco': 689,
 'Tembisa': 690,
 'Aktau': 691,
 'Sagar': 692,
 'Johannesburg': 693,
 'Tsuchiura': 694,
 'Rio Branco': 695,
 'Yonago': 696,
 'Xinyang': 697,
 'Aksaray': 698,
 'Basirhat': 699,
 'Burgos': 700,
 'Maracaibo': 701,
 'Kielce': 702,
 'Xining': 703,
 'Singapore': 704,
 'Hat Yai': 705,
 'Ilorin': 707,
 'Hanover': 708,
 'Juàzeiro': 709,
 'Karnal': 710,
 'Charleroi': 711,
 'Eldoret': 712,
 'Mérida': 713,
 'Anaheim': 714,
 'Ho Chi Minh City': 715,
 'Chernivtsi': 716,
 'Gomel': 717,
 'Ferraz De Vasconcelos': 718,
 'Sahiwal': 719,
 'Padang': 720,
 'Florencia': 721,
 'Manchester': 1225,
 'Leuwiliang': 723,
 'Kadoma': 1862,
 'Hildesheim': 725,
 'Bratislava': 726,
 'Macapá': 727,
 'Townsville': 728,
 'Toulouse': 729,
 'Gurgaon': 730,
 'Kandi': 731,
 'Bloemfontein': 732,
 'Monywa': 733,
 'East London': 734,
 'Bilaspur': 735,
 'Cisaat': 736,
 'Chernihiv': 737,
 'Sekondi': 738,
 'Fremont': 739,
 'Taiping': 740,
 'Ballia': 741,
 'Bojnurd': 742,
 'Concord': 743,
 'Taichung': 744,
 'Rybnik': 745,
 'Cangzhou': 746,
 'Chhapra': 747,
 'Colima': 748,
 'Trabzon': 749,
 'Pingshan': 750,
 'Brasov': 751,
 'Bankura': 752,
 'Biratnagar': 753,
 'Birmingham': 1277,
 'Zelenodolsk': 755,
 'Warri': 756,
 'Shahe': 757,
 'Sivas': 758,
 'Etawah': 759,
 'Pate': 760,
 'Peristérion': 761,
 'Hachinohe': 762,
 'Tiruvannamalai': 763,
 'Longjing': 764,
 'Detroit': 765,
 'Offenbach': 766,
 'Adilabad': 767,
 'Shillong': 768,
 'Zaozhuang': 769,
 'Krasnodar': 770,
 'Nantong': 771,
 'Jiaozuo': 772,
 'Zamora': 773,
 'Natal': 774,
 'Cumaná': 775,
 'Gagnoa': 776,
 'El Tigre': 777,
 'Sur': 778,
 'Dunhua': 779,
 'Puerto Plata': 780,
 'Bihar': 781,
 'Governador Valadares': 782,
 'Brebes': 783,
 'Shihezi': 784,
 'Hakodate': 785,
 'Kiev': 786,
 'Sayama': 787,
 'Indaiatuba': 788,
 'Los Reyes': 789,
 'San Salvador': 790,
 'Dehri': 791,
 'Mbouda': 792,
 'Barretos': 793,
 'San Juan Del Río': 794,
 'Semey': 795,
 'Smolensk': 796,
 'Iquitos': 797,
 'Aqtöbe': 798,
 'Sanbu': 799,
 'Duma': 800,
 'Baripada': 801,
 'Samsun': 802,
 'San Lorenzo': 803,
 'Girardot': 804,
 'Anda': 805,
 'Londrina': 806,
 'Matsudo': 807,
 'Durrës': 808,
 'Los Mochis': 809,
 'Pietersburg': 810,
 'Potgietersrus': 811,
 'Windsor': 812,
 'Bataysk': 813,
 'Kasukabe': 814,
 'Aracaju': 815,
 'Garanhuns': 816,
 'Oshawa': 817,
 'Mwanza': 818,
 'Ribeirão Das Neves': 819,
 'Bytom': 820,
 'Aalborg': 821,
 'Dhanbad': 822,
 'Jinchang': 823,
 'Montreal': 824,
 'Negombo': 825,
 'Talara': 826,
 'Chapecó': 827,
 'Albacete': 828,
 'Ambur': 829,
 'Astanajapura': 830,
 'Obihiro': 831,
 'Rizhao': 832,
 'Reutlingen': 833,
 'Salto': 834,
 'Kasur': 835,
 'Antananarivo': 836,
 'Kuala Terengganu': 837,
 'Esfahan': 838,
 'Batangas': 839,
 'Xuanhua': 840,
 'Kroonstad': 841,
 'Pingdingshan': 842,
 'Bulandshahr': 843,
 'Wulanhaote': 844,
 'Cottbus': 845,
 'Baleshwar': 846,
 'Sarh': 847,
 'Tula': 848,
 'Rio Claro': 849,
 'Sabzevar': 850,
 'Shiraz': 851,
 'Nilópolis': 852,
 'Fayetteville': 853,
 'Palanpur': 854,
 'Katowice': 855,
 'Sandakan': 856,
 'Astrakhan': 857,
 'Kalemie': 858,
 'Newcastle Upon Tyne': 859,
 'Ngaoundéré': 860,
 'Guatemala City': 861,
 'Isesaki': 862,
 'Agra': 863,
 'Toamasina': 864,
 'Ichihara': 865,
 'Clearwater': 866,
 'Tubruq': 867,
 'Xiazhen': 868,
 'Sholapur': 869,
 'Fuenlabrada': 870,
 'Kisangani': 871,
 'Cagua': 872,
 'Bénin': 873,
 'Seremban': 874,
 'Mingshui': 875,
 'Tambaram': 876,
 'Verona': 877,
 'Wazirabad': 878,
 'Boa Vista': 879,
 'New Orleans': 880,
 'Saveh': 881,
 'Matola': 882,
 'Linxia': 883,
 'Fort Worth': 884,
 'Lasa': 886,
 'Kitwe': 887,
 'Qazvin': 888,
 'Thái Nguyên': 889,
 'Firozpur': 890,
 'Calamba': 891,
 'Jiazi': 892,
 'La Ceiba': 893,
 'Adelaide': 894,
 'Myingyan': 895,
 'Xiantao': 896,
 'Manzanillo': 3217,
 'Babol': 898,
 'Sadiqabad': 899,
 'Bhind': 900,
 'Caxias Do Sul': 901,
 'Kano': 902,
 'Skopje': 903,
 'Huambo': 904,
 'Montevideo': 905,
 'Yanan': 906,
 'Gainesville': 907,
 'Chigasaki': 908,
 'Dundee': 909,
 'Acapulco': 910,
 'Ayer Itam': 911,
 'Gent': 912,
 'Knoxville': 913,
 'Medellín': 914,
 'Silchar': 915,
 'Basildon': 916,
 'Ejido': 917,
 'Kirov': 918,
 'Cordoba': 919,
 'Tarragona': 920,
 'Itagüí': 921,
 'Zhuzhou': 922,
 'Rohtak': 923,
 'Moshi': 924,
 'Volzhskiy': 925,
 'Mirpur Khas': 926,
 'Pilibhit': 927,
 'Southampton': 928,
 'Ratisbon': 929,
 'Bohicon': 930,
 'Fujimi': 931,
 'Vryheid': 932,
 'Provo': 933,
 'Dadu': 934,
 'Nakhodka': 935,
 'Kursk': 936,
 'Zhukovskiy': 937,
 'Port Saint Lucie': 938,
 'Foggia': 939,
 'Naperville': 940,
 'Chitungwiza': 941,
 'Jiutepec': 942,
 'Soweto': 943,
 'Richmond': 944,
 'Valledupar': 945,
 'Seversk': 946,
 'Coventry': 947,
 'Mandalay': 948,
 'Binjai': 949,
 'Peoria': 950,
 'Mataram': 951,
 'Ramnicu Valcea': 952,
 'Reims': 953,
 'Tebingtinggi': 954,
 'Ecatepec': 955,
 'Ipatinga': 956,
 'Barquisimeto': 957,
 'Saarbrücken': 958,
 'Porbandar': 959,
 'Humen': 960,
 'Srikakulam': 961,
 'Changzhou': 962,
 'Kuala Lumpur': 963,
 'Sosnowiec': 964,
 'Orekhovo Zuevo': 965,
 'Adoni': 966,
 'San Luis': 967,
 'Butuan': 968,
 'Kohat': 969,
 'Zhaotong': 970,
 'Independence': 971,
 'Nezahualcóyotl': 972,
 'Banja Luka': 973,
 'Sultanpur': 974,
 'Almere': 975,
 'Mokolo': 976,
 'Maisuru': 977,
 'Pucallpa': 978,
 'Toyota': 979,
 'Formosa': 980,
 'Ulhasnagar': 981,
 'Mixco': 982,
 'Mannheim': 983,
 'Maykop': 984,
 'Oberhausen': 985,
 'Brazzaville': 986,
 'Canberra': 987,
 'Mercedes': 988,
 'Sitapur': 989,
 'Innsbruck': 990,
 'Stoke On Trent': 991,
 'Afyonkarahisar': 992,
 'Rengasdengklok': 993,
 'Bid': 994,
 'Nouakchott': 995,
 'Santo André': 996,
 'Kigoma': 997,
 'Rome': 998,
 'Sanmenxia': 999,
 'Sunggal': 1000,
 'Santa Teresa': 1001,
 'Breda': 1002,
 'Focsani': 1003,
 ...}

In [59]:
create_table(conn,'''CREATE TABLE Temperature (PK INTEGER  PRIMARY KEY , Date VARCHAR, Avg_Temperature VARCHAR, City_ID INTEGER,
FOREIGN KEY(City_ID) REFERENCES City_Table(City_Id))''')

In [66]:
temp_table_values=[]
j=1
for i in result:
    j=j+1
    temp_table_values.append((i[0],i[1],city_ids[i[3]]))
#temp_table_values

[('1950-01-01', -0.7120000000000001, 2889),
 ('1950-02-01', 1.423, 2889),
 ('1950-03-01', 4.166, 2889),
 ('1950-04-01', 6.742999999999999, 2889),
 ('1950-05-01', 12.714, 2889),
 ('1950-06-01', 15.275, 2889),
 ('1950-07-01', 16.699, 2889),
 ('1950-08-01', 17.462, 2889),
 ('1950-09-01', 13.125, 2889),
 ('1950-10-01', 8.589, 2889),
 ('1950-11-01', 3.741, 2889),
 ('1950-12-01', -0.52, 2889),
 ('1951-01-01', -0.311, 2889),
 ('1951-02-01', 0.6290000000000001, 2889),
 ('1951-03-01', 0.0339999999999998, 2889),
 ('1951-04-01', 5.555, 2889),
 ('1951-05-01', 10.458, 2889),
 ('1951-06-01', 14.994000000000002, 2889),
 ('1951-07-01', 16.051000000000002, 2889),
 ('1951-08-01', 16.511, 2889),
 ('1951-09-01', 14.103, 2889),
 ('1951-10-01', 8.878, 2889),
 ('1951-11-01', 6.251, 2889),
 ('1951-12-01', 4.464, 2889),
 ('1952-01-01', 0.496, 2889),
 ('1952-02-01', 1.3239999999999998, 2889),
 ('1952-03-01', 0.688, 2889),
 ('1952-04-01', 7.574, 2889),
 ('1952-05-01', 11.265, 2889),
 ('1952-06-01', 13.048, 2889),
 ('1952-07-01', 16.204, 2889),
 ('1952-08-01', 15.781999999999998, 2889),
 ('1952-09-01', 10.826, 2889),
 ('1952-10-01', 6.622999999999998, 2889),
 ('1952-11-01', 1.759, 2889),
 ('1952-12-01', 0.508, 2889),
 ('1953-01-01', 0.465, 2889),
 ('1953-02-01', -0.735, 2889),
 ('1953-03-01', 4.234, 2889),
 ('1953-04-01', 6.767, 2889),
 ('1953-05-01', 11.678, 2889),
 ('1953-06-01', 17.207, 2889),
 ('1953-07-01', 16.962, 2889),
 ('1953-08-01', 16.113, 2889),
 ('1953-09-01', 13.149, 2889),
 ('1953-10-01', 10.662, 2889),
 ('1953-11-01', 6.821999999999999, 2889),
 ('1953-12-01', 3.209, 2889),
 ('1954-01-01', -0.639, 2889),
 ('1954-02-01', -3.115, 2889),
 ('1954-03-01', 1.474, 2889),
 ('1954-04-01', 5.204, 2889),
 ('1954-05-01', 12.54, 2889),
 ('1954-06-01', 15.112, 2889),
 ('1954-07-01', 15.372000000000002, 2889),
 ('1954-08-01', 15.382, 2889),
 ('1954-09-01', 12.848, 2889),
 ('1954-10-01', 8.809, 2889),
 ('1954-11-01', 4.213, 2889),
 ('1954-12-01', 3.14, 2889),
 ('1955-01-01', -0.941, 2889),
 ('1955-02-01', -3.007, 2889),
 ('1955-03-01', -0.3189999999999999, 2889),
 ('1955-04-01', 4.644, 2889),
 ('1955-05-01', 9.052, 2889),
 ('1955-06-01', 13.664, 2889),
 ('1955-07-01', 19.089, 2889),
 ('1955-08-01', 18.707, 2889),
 ('1955-09-01', 14.534, 2889),
 ('1955-10-01', 8.345, 2889),
 ('1955-11-01', 5.162999999999999, 2889),
 ('1955-12-01', 0.606, 2889),
 ('1956-01-01', -0.424, 2889),
 ('1956-02-01', -5.9460000000000015, 2889),
 ('1956-03-01', 1.27, 2889),
 ('1956-04-01', 4.4, 2889),
 ('1956-05-01', 11.13, 2889),
 ('1956-06-01', 14.057, 2889),
 ('1956-07-01', 16.949, 2889),
 ('1956-08-01', 14.014, 2889),
 ('1956-09-01', 13.068, 2889),
 ('1956-10-01', 8.222000000000001, 2889),
 ('1956-11-01', 2.946, 2889),
 ('1956-12-01', 3.047, 2889),
 ('1957-01-01', 2.0010000000000003, 2889),
 ('1957-02-01', 1.988, 2889),
 ('1957-03-01', 2.873, 2889),
 ('1957-04-01', 6.146, 2889),
 ('1957-05-01', 9.975, 2889),
 ('1957-06-01', 14.817, 2889),
 ('1957-07-01', 17.189, 2889),
 ('1957-08-01', 16.012999999999998, 2889),
 ('1957-09-01', 11.373, 2889),
 ('1957-10-01', 9.332, 2889),
 ('1957-11-01', 4.5680000000000005, 2889),
 ('1957-12-01', 1.652, 2889),
 ('1958-01-01', -1.018, 2889),
 ('1958-02-01', -2.052, 2889),
 ('1958-03-01', -1.5460000000000005, 2889),
 ('1958-04-01', 4.207, 2889),
 ('1958-05-01', 9.873, 2889),
 ('1958-06-01', 14.691, 2889),
 ('1958-07-01', 17.05, 2889),
 ('1958-08-01', 15.634, 2889),
 ('1958-09-01', 14.222, 2889),
 ('1958-10-01', 10.202, 2889),
 ('1958-11-01', 5.737, 2889),
 ('1958-12-01', 1.396, 2889),
 ('1959-01-01', -0.65, 2889),
 ('1959-02-01', 0.8029999999999999, 2889),
 ('1959-03-01', 4.243, 2889),
 ('1959-04-01', 7.387, 2889),
 ('1959-05-01', 12.116, 2889),
 ('1959-06-01', 15.439, 2889),
 ('1959-07-01', 18.448, 2889),
 ('1959-08-01', 18.003, 2889),
 ('1959-09-01', 13.69, 2889),
 ('1959-10-01', 9.33, 2889),
 ('1959-11-01', 5.337000000000001, 2889),
 ('1959-12-01', 2.229, 2889),
 ('1960-01-01', -0.657, 2889),
 ('1960-02-01', -1.359, 2889),
 ('1960-03-01', 2.339, 2889),
 ('1960-04-01', 5.919, 2889),
 ('1960-05-01', 12.214, 2889),
 ('1960-06-01', 15.8, 2889),
 ('1960-07-01', 15.625000000000002, 2889),
 ('1960-08-01', 16.198999999999998, 2889),
 ('1960-09-01', 13.145, 2889),
 ('1960-10-01', 7.534, 2889),
 ('1960-11-01', 4.6930000000000005, 2889),
 ('1960-12-01', 2.039, 2889),
 ('1961-01-01', -0.253, 2889),
 ('1961-02-01', 3.241, 2889),
 ('1961-03-01', 5.742000000000001, 2889),
 ('1961-04-01', 7.681, 2889),
 ('1961-05-01', 11.35, 2889),
 ('1961-06-01', 15.847, 2889),
 ('1961-07-01', 15.722, 2889),
 ('1961-08-01', 15.063999999999998, 2889),
 ('1961-09-01', 14.466, 2889),
 ('1961-10-01', 11.447, 2889),
 ('1961-11-01', 4.763, 2889),
 ('1961-12-01', -0.3069999999999999, 2889),
 ('1962-01-01', 1.803, 2889),
 ('1962-02-01', 1.7970000000000002, 2889),
 ('1962-03-01', -0.4750000000000001, 2889),
 ('1962-04-01', 6.340999999999998, 2889),
 ('1962-05-01', 9.406, 2889),
 ('1962-06-01', 13.701, 2889),
 ('1962-07-01', 14.926000000000002, 2889),
 ('1962-08-01', 14.243, 2889),
 ('1962-09-01', 12.187, 2889),
 ('1962-10-01', 9.715, 2889),
 ('1962-11-01', 3.665, 2889),
 ('1962-12-01', -0.7629999999999999, 2889),
 ('1963-01-01', -5.417000000000001, 2889),
 ('1963-02-01', -4.7650000000000015, 2889),
 ('1963-03-01', -0.327, 2889),
 ('1963-04-01', 5.239, 2889),
 ('1963-05-01', 11.431, 2889),
 ('1963-06-01', 15.804, 2889),
 ('1963-07-01', 16.265, 2889),
 ('1963-08-01', 16.003, 2889),
 ('1963-09-01', 13.164, 2889),
 ('1963-10-01', 9.17, 2889),
 ('1963-11-01', 6.034, 2889),
 ('1963-12-01', -0.4770000000000001, 2889),
 ('1964-01-01', 1.03, 2889),
 ('1964-02-01', 0.387, 2889),
 ('1964-03-01', 0.595, 2889),
 ('1964-04-01', 7.112, 2889),
 ('1964-05-01', 11.96, 2889),
 ('1964-06-01', 14.379, 2889),
 ('1964-07-01', 15.14, 2889),
 ('1964-08-01', 15.408, 2889),
 ('1964-09-01', 12.57, 2889),
 ('1964-10-01', 7.785, 2889),
 ('1964-11-01', 5.329, 2889),
 ('1964-12-01', 1.314, 2889),
 ('1965-01-01', 1.084, 2889),
 ('1965-02-01', 0.113, 2889),
 ('1965-03-01', 1.2479999999999998, 2889),
 ('1965-04-01', 5.943, 2889),
 ('1965-05-01', 9.691, 2889),
 ('1965-06-01', 14.787, 2889),
 ('1965-07-01', 14.588, 2889),
 ('1965-08-01', 14.848999999999998, 2889),
 ('1965-09-01', 13.836, 2889),
 ('1965-10-01', 9.465, 2889),
 ('1965-11-01', 1.0019999999999998, 2889),
 ('1965-12-01', -0.8700000000000001, 2889),
 ('1966-01-01', -3.44, 2889),
 ('1966-02-01', -3.5460000000000003, 2889),
 ('1966-03-01', 2.593, 2889),
 ('1966-04-01', 3.079, 2889),
 ('1966-05-01', 11.278, 2889),
 ('1966-06-01', 16.472, 2889),
 ('1966-07-01', 16.448, 2889),
 ('1966-08-01', 15.219, 2889),
 ('1966-09-01', 12.868, 2889),
 ('1966-10-01', 8.854, 2889),
 ('1966-11-01', 3.835, 2889),
 ('1966-12-01', 1.152, 2889),
 ('1967-01-01', -0.931, 2889),
 ('1967-02-01', 1.843, 2889),
 ('1967-03-01', 5.138999999999999, 2889),
 ('1967-04-01', 5.672999999999999, 2889),
 ('1967-05-01', 11.029000000000002, 2889),
 ('1967-06-01', 14.317, 2889),
 ('1967-07-01', 17.034000000000002, 2889),
 ('1967-08-01', 16.503999999999998, 2889),
 ('1967-09-01', 13.938, 2889),
 ('1967-10-01', 10.278, 2889),
 ('1967-11-01', 5.956, 2889),
 ('1967-12-01', 0.581, 2889),
 ('1968-01-01', -1.445, 2889),
 ('1968-02-01', -0.471, 2889),
 ('1968-03-01', 3.5660000000000003, 2889),
 ('1968-04-01', 7.324, 2889),
 ('1968-05-01', 10.035, 2889),
 ('1968-06-01', 16.387, 2889),
 ('1968-07-01', 15.965000000000002, 2889),
 ('1968-08-01', 17.294999999999998, 2889),
 ('1968-09-01', 14.029000000000002, 2889),
 ('1968-10-01', 8.817, 2889),
 ('1968-11-01', 3.429, 2889),
 ('1968-12-01', -0.3089999999999999, 2889),
 ('1969-01-01', 0.0299999999999999, 2889),
 ('1969-02-01', -3.01, 2889),
 ('1969-03-01', -0.4370000000000003, 2889),
 ('1969-04-01', 5.5360000000000005, 2889),
 ('1969-05-01', 10.107, 2889),
 ('1969-06-01', 16.219, 2889),
 ('1969-07-01', 17.352, 2889),
 ('1969-08-01', 18.17, 2889),
 ('1969-09-01', 14.447, 2889),
 ('1969-10-01', 10.032, 2889),
 ('1969-11-01', 3.765, 2889),
 ('1969-12-01', -2.045, 2889),
 ('1970-01-01', -3.488, 2889),
 ('1970-02-01', -4.9620000000000015, 2889),
 ('1970-03-01', 0.361, 2889),
 ('1970-04-01', 3.35, 2889),
 ('1970-05-01', 11.343, 2889),
 ('1970-06-01', 17.595, 2889),
 ('1970-07-01', 15.57, 2889),
 ('1970-08-01', 16.628, 2889),
 ('1970-09-01', 12.398, 2889),
 ('1970-10-01', 8.847000000000001, 2889),
 ('1970-11-01', 4.093, 2889),
 ('1970-12-01', 1.94, 2889),
 ('1971-01-01', 0.7629999999999999, 2889),
 ('1971-02-01', 2.3840000000000003, 2889),
 ('1971-03-01', 1.0259999999999998, 2889),
 ('1971-04-01', 5.646999999999999, 2889),
 ('1971-05-01', 11.901, 2889),
 ('1971-06-01', 14.35, 2889),
 ('1971-07-01', 16.987000000000002, 2889),
 ('1971-08-01', 16.467, 2889),
 ('1971-09-01', 12.735, 2889),
 ('1971-10-01', 9.374, 2889),
 ('1971-11-01', 4.196000000000001, 2889),
 ('1971-12-01', 4.596, 2889),
 ('1972-01-01', -1.943, 2889),
 ('1972-02-01', 0.359, 2889),
 ('1972-03-01', 3.029, 2889),
 ('1972-04-01', 6.322, 2889),
 ('1972-05-01', 11.622, 2889),
 ('1972-06-01', 14.57, 2889),
 ('1972-07-01', 18.07, 2889),
 ('1972-08-01', 16.017, 2889),
 ('1972-09-01', 11.495, 2889),
 ('1972-10-01', 8.190999999999999, 2889),
 ('1972-11-01', 5.252000000000001, 2889),
 ('1972-12-01', 4.064, 2889),
 ('1973-01-01', 1.625, 2889),
 ('1973-02-01', 2.903, 2889),
 ('1973-03-01', 5.321000000000001, 2889),
 ('1973-04-01', 5.615, 2889),
 ('1973-05-01', 11.151, 2889),
 ('1973-06-01', 15.588, 2889),
 ('1973-07-01', 18.419, 2889),
 ('1973-08-01', 16.131999999999998, 2889),
 ('1973-09-01', 12.973, 2889),
 ('1973-10-01', 6.705, 2889),
 ('1973-11-01', 3.1060000000000003, 2889),
 ('1973-12-01', 1.095, 2889),
 ('1974-01-01', 2.681, 2889),
 ('1974-02-01', 3.185, 2889),
 ('1974-03-01', 3.782, 2889),
 ('1974-04-01', 7.946000000000001, 2889),
 ('1974-05-01', 11.380999999999998, 2889),
 ('1974-06-01', 15.092, 2889),
 ('1974-07-01', 15.227, 2889),
 ('1974-08-01', 16.067999999999998, 2889),
 ('1974-09-01', 13.556, 2889),
 ('1974-10-01', 6.728999999999999, 2889),
 ('1974-11-01', 4.947, 2889),
 ('1974-12-01', 4.061999999999999, 2889),
 ('1975-01-01', 4.423, 2889),
 ('1975-02-01', 1.831, 2889),
 ('1975-03-01', 2.964, 2889),
 ('1975-04-01', 5.487, 2889),
 ('1975-05-01', 11.684, 2889),
 ('1975-06-01', 14.916, 2889),
 ('1975-07-01', 17.456, 2889),
 ('1975-08-01', 19.422, 2889),
 ('1975-09-01', 14.374, 2889),
 ('1975-10-01', 8.978, 2889),
 ('1975-11-01', 4.7410000000000005, 2889),
 ('1975-12-01', 4.059, 2889),
 ('1976-01-01', 0.1469999999999999, 2889),
 ('1976-02-01', 0.4960000000000001, 2889),
 ('1976-03-01', 0.1819999999999999, 2889),
 ('1976-04-01', 5.754, 2889),
 ('1976-05-01', 11.396, 2889),
 ('1976-06-01', 15.224, 2889),
 ('1976-07-01', 18.512, 2889),
 ('1976-08-01', 17.651, 2889),
 ('1976-09-01', 12.251, 2889),
 ('1976-10-01', 8.279, 2889),
 ('1976-11-01', 4.94, 2889),
 ('1976-12-01', -0.7120000000000002, 2889),
 ('1977-01-01', -0.7559999999999999, 2889),
 ('1977-02-01', -0.978, 2889),
 ('1977-03-01', 3.452, 2889),
 ('1977-04-01', 4.624, 2889),
 ('1977-05-01', 11.617, 2889),
 ('1977-06-01', 15.677, 2889),
 ('1977-07-01', 16.075000000000006, 2889),
 ('1977-08-01', 15.979, 2889),
 ('1977-09-01', 12.011, 2889),
 ('1977-10-01', 9.844, 2889),
 ('1977-11-01', 5.211, 2889),
 ('1977-12-01', 2.317, 2889),
 ('1978-01-01', 1.4340000000000002, 2889),
 ('1978-02-01', -2.126, 2889),
 ('1978-03-01', 2.01, 2889),
 ('1978-04-01', 5.199, 2889),
 ('1978-05-01', 11.904000000000002, 2889),
 ('1978-06-01', 15.794, 2889),
 ('1978-07-01', 15.37, 2889),
 ('1978-08-01', 16.058, 2889),
 ('1978-09-01', 11.694, 2889),
 ('1978-10-01', 9.477, 2889),
 ('1978-11-01', 7.1370000000000005, 2889),
 ('1978-12-01', -1.891, 2889),
 ('1979-01-01', -4.019, 2889),
 ('1979-02-01', -3.341, 2889),
 ('1979-03-01', 1.3130000000000002, 2889),
 ('1979-04-01', 4.975, 2889),
 ('1979-05-01', 10.081, 2889),
 ('1979-06-01', 15.219, 2889),
 ('1979-07-01', 14.824000000000002, 2889),
 ('1979-08-01', 15.209, 2889),
 ('1979-09-01', 12.799, 2889),
 ('1979-10-01', 7.689999999999999, 2889),
 ('1979-11-01', 4.39, 2889),
 ('1979-12-01', 1.247, 2889),
 ('1980-01-01', -1.85, 2889),
 ('1980-02-01', -2.171, 2889),
 ('1980-03-01', 0.625, 2889),
 ('1980-04-01', 6.151, 2889),
 ('1980-05-01', 11.434, 2889),
 ('1980-06-01', 15.834, 2889),
 ('1980-07-01', 17.01, 2889),
 ('1980-08-01', 15.854, 2889),
 ('1980-09-01', 13.649, 2889),
 ('1980-10-01', 7.585, 2889),
 ('1980-11-01', 3.22, 2889),
 ('1980-12-01', 2.457, 2889),
 ('1981-01-01', -0.157, 2889),
 ('1981-02-01', 0.507, 2889),
 ('1981-03-01', 2.052, 2889),
 ('1981-04-01', 5.747999999999999, 2889),
 ('1981-05-01', 12.938, 2889),
 ('1981-06-01', 14.093, 2889),
 ('1981-07-01', 16.085, 2889),
 ('1981-08-01', 15.815, 2889),
 ('1981-09-01', 13.838, 2889),
 ('1981-10-01', 7.825, 2889),
 ('1981-11-01', 4.76, 2889),
 ('1981-12-01', -4.481, 2889),
 ('1982-01-01', -4.009, 2889),
 ('1982-02-01', -0.568, 2889),
 ('1982-03-01', 3.668, 2889),
 ('1982-04-01', 6.468999999999999, 2889),
 ('1982-05-01', 10.94, 2889),
 ('1982-06-01', 15.029000000000002, 2889),
 ('1982-07-01', 17.887999999999998, 2889),
 ('1982-08-01', 17.270999999999994, 2889),
 ('1982-09-01', 13.604, 2889),
 ('1982-10-01', 9.698, 2889),
 ('1982-11-01', 6.244, 2889),
 ('1982-12-01', 2.521, 2889),
 ('1983-01-01', 4.535, 2889),
 ('1983-02-01', -0.501, 2889),
 ('1983-03-01', 3.695, 2889),
 ('1983-04-01', 6.67, 2889),
 ('1983-05-01', 10.953, 2889),
 ('1983-06-01', 14.811, 2889),
 ('1983-07-01', 17.844, 2889),
 ('1983-08-01', 16.968, 2889),
 ('1983-09-01', 13.294, 2889),
 ('1983-10-01', 9.346, 2889),
 ('1983-11-01', 4.226999999999999, 2889),
 ('1983-12-01', 1.7990000000000002, 2889),
 ('1984-01-01', 0.3519999999999999, 2889),
 ('1984-02-01', 0.408, 2889),
 ('1984-03-01', 1.1229999999999998, 2889),
 ('1984-04-01', 6.2860000000000005, 2889),
 ('1984-05-01', 12.375, 2889),
 ('1984-06-01', 14.765, 2889),
 ('1984-07-01', 16.274, 2889),
 ('1984-08-01', 17.11, 2889),
 ('1984-09-01', 11.906, 2889),
 ('1984-10-01', 10.505999999999998, 2889),
 ('1984-11-01', 5.891, 2889),
 ('1984-12-01', 2.825, 2889),
 ('1985-01-01', -5.271, 2889),
 ('1985-02-01', -4.496, 2889),
 ('1985-03-01', 1.3279999999999998, 2889),
 ('1985-04-01', 4.517, 2889),
 ('1985-05-01', 11.76, 2889),
 ('1985-06-01', 14.226, 2889),
 ('1985-07-01', 16.555, 2889),
 ('1985-08-01', 15.8, 2889),
 ('1985-09-01', 11.856, 2889),
 ('1985-10-01', 10.02, 2889),
 ('1985-11-01', 1.807, 2889),
 ('1985-12-01', 1.188, 2889),
 ('1986-01-01', -1.778, 2889),
 ('1986-02-01', -4.655, 2889),
 ('1986-03-01', 1.774, 2889),
 ('1986-04-01', 4.243, 2889),
 ('1986-05-01', 11.478, 2889),
 ('1986-06-01', 15.505999999999998, 2889),
 ('1986-07-01', 16.271, 2889),
 ('1986-08-01', 15.073, 2889),
 ('1986-09-01', 10.866, 2889),
 ('1986-10-01', 9.002, 2889),
 ('1986-11-01', 6.84, 2889),
 ('1986-12-01', 2.079, 2889),
 ('1987-01-01', -5.391, 2889),
 ('1987-02-01', -0.127, 2889),
 ('1987-03-01', -1.569, 2889),
 ('1987-04-01', 6.313, 2889),
 ('1987-05-01', 10.043, 2889),
 ('1987-06-01', 12.344, 2889),
 ('1987-07-01', 15.692000000000002, 2889),
 ('1987-08-01', 14.466, 2889),
 ('1987-09-01', 12.237, 2889),
 ('1987-10-01', 9.425, 2889),
 ('1987-11-01', 4.909, 2889),
 ('1987-12-01', 2.688, 2889),
 ('1988-01-01', 3.405, 2889),
 ('1988-02-01', 2.5500000000000003, 2889),
 ('1988-03-01', 1.729, 2889),
 ('1988-04-01', 5.4, 2889),
 ('1988-05-01', 12.949000000000002, 2889),
 ('1988-06-01', 17.135, 2889),
 ('1988-07-01', 17.067, 2889),
 ('1988-08-01', 15.873, 2889),
 ('1988-09-01', 13.759, 2889),
 ('1988-10-01', 8.264, 2889),
 ('1988-11-01', 3.502, 2889),
 ('1988-12-01', 3.197, 2889),
 ('1989-01-01', 5.414, 2889),
 ('1989-02-01', 5.113, 2889),
 ('1989-03-01', 5.803999999999999, 2889),
 ('1989-04-01', 6.422000000000001, 2889),
 ('1989-05-01', 12.013, 2889),
 ('1989-06-01', 15.521, 2889),
 ('1989-07-01', 17.660999999999998, 2889),
 ('1989-08-01', 15.573, 2889),
 ('1989-09-01', 13.604, 2889),
 ('1989-10-01', 9.93, 2889),
 ('1989-11-01', 4.909, 2889),
 ('1989-12-01', 2.3280000000000003, 2889),
 ('1990-01-01', 4.267, 2889),
 ('1990-02-01', 5.895, 2889),
 ('1990-03-01', 6.565, 2889),
 ('1990-04-01', 8.068, 2889),
 ('1990-05-01', 12.944, 2889),
 ('1990-06-01', 15.672, 2889),
 ('1990-07-01', 16.844, 2889),
 ('1990-08-01', 17.401999999999994, 2889),
 ('1990-09-01', 12.446, 2889),
 ('1990-10-01', 9.409, 2889),
 ('1990-11-01', 4.027, 2889),
 ('1990-12-01', 2.547, 2889),
 ('1991-01-01', 2.088, 2889),
 ('1991-02-01', -0.7140000000000001, 2889),
 ('1991-03-01', 4.386, 2889),
 ('1991-04-01', 6.803999999999999, 2889),
 ('1991-05-01', 10.335, 2889),
 ('1991-06-01', 12.632, 2889),
 ('1991-07-01', 18.301, 2889),
 ('1991-08-01', 17.506, 2889),
 ('1991-09-01', 13.889, 2889),
 ('1991-10-01', 8.789, 2889),
 ('1991-11-01', 5.184, 2889),
 ('1991-12-01', 3.584, 2889),
 ('1992-01-01', 3.148, 2889),
 ('1992-02-01', 3.891000000000001, 2889),
 ('1992-03-01', 4.577999999999999, 2889),
 ('1992-04-01', 5.867999999999999, 2889),
 ('1992-05-01', 13.822, 2889),
 ('1992-06-01', 18.477, 2889),
 ('1992-07-01', 17.836000000000006, 2889),
 ('1992-08-01', 16.108, 2889),
 ('1992-09-01', 13.398, 2889),
 ('1992-10-01', 6.337999999999999, 2889),
 ('1992-11-01', 4.819, 2889),
 ('1992-12-01', 2.888, 2889),
 ('1993-01-01', 2.276, 2889),
 ('1993-02-01', 1.94, 2889),
 ('1993-03-01', 3.54, 2889),
 ('1993-04-01', 7.851, 2889),
 ('1993-05-01', 13.806, 2889),
 ('1993-06-01', 14.415, 2889),
 ('1993-07-01', 14.849, 2889),
 ('1993-08-01', 14.57, 2889),
 ('1993-09-01', 11.23, 2889),
 ('1993-10-01', 7.170999999999999, 2889),
 ('1993-11-01', 2.226, 2889),
 ('1993-12-01', 1.556, 2889),
 ('1994-01-01', 1.995, 2889),
 ('1994-02-01', -1.7799999999999998, 2889),
 ('1994-03-01', 3.1, 2889),
 ('1994-04-01', 7.455999999999999, 2889),
 ('1994-05-01', 11.847, 2889),
 ('1994-06-01', 13.792000000000002, 2889),
 ('1994-07-01', 20.052, 2889),
 ('1994-08-01', 17.674, 2889),
 ('1994-09-01', 12.69, 2889),
 ('1994-10-01', 7.938, 2889),
 ('1994-11-01', 6.231, 2889),
 ('1994-12-01', 4.066, 2889),
 ('1995-01-01', 0.444, 2889),
 ('1995-02-01', 3.706, 2889),
 ('1995-03-01', 3.426, 2889),
 ('1995-04-01', 6.335, 2889),
 ('1995-05-01', 10.545, 2889),
 ('1995-06-01', 15.073, 2889),
 ('1995-07-01', 17.92, 2889),
 ('1995-08-01', 18.817, 2889),
 ('1995-09-01', 13.39, 2889),
 ('1995-10-01', 11.028, 2889),
 ('1995-11-01', 3.4160000000000004, 2889),
 ('1995-12-01', -2.165, 2889),
 ('1996-01-01', -1.88, 2889),
 ('1996-02-01', -2.574, 2889),
 ('1996-03-01', 0.7609999999999999, 2889),
 ('1996-04-01', 6.635, 2889),
 ('1996-05-01', 9.339, 2889),
 ('1996-06-01', 14.318, 2889),
 ('1996-07-01', 15.684, 2889),
 ('1996-08-01', 18.492, 2889),
 ('1996-09-01', 12.039, 2889),
 ('1996-10-01', 9.703, 2889),
 ('1996-11-01', 4.644, 2889),
 ('1996-12-01', -0.7149999999999999, 2889),
 ('1997-01-01', -0.742, 2889),
 ('1997-02-01', 2.7710000000000004, 2889),
 ('1997-03-01', 4.089, 2889),
 ('1997-04-01', 5.984, 2889),
 ('1997-05-01', 10.408, 2889),
 ('1997-06-01', 16.208000000000002, 2889),
 ('1997-07-01', 18.919, 2889),
 ('1997-08-01', 20.883000000000003, 2889),
 ('1997-09-01', 13.92, 2889),
 ('1997-10-01', 7.711, 2889),
 ('1997-11-01', 4.178, 2889),
 ('1997-12-01', 1.949, 2889),
 ('1998-01-01', 2.17, 2889),
 ('1998-02-01', 5.021, 2889),
 ('1998-03-01', 3.821, 2889),
 ('1998-04-01', 6.329, 2889),
 ('1998-05-01', 12.651, 2889),
 ('1998-06-01', 14.502, 2889),
 ('1998-07-01', 15.502, 2889),
 ('1998-08-01', 15.101, 2889),
 ('1998-09-01', 13.706, 2889),
 ('1998-10-01', 8.305, 2889),
 ('1998-11-01', 1.629, 2889),
 ('1998-12-01', 1.096, 2889),
 ('1999-01-01', 1.749, 2889),
 ('1999-02-01', 1.503, 2889),
 ('1999-03-01', 3.524, 2889),
 ('1999-04-01', 8.065, 2889),
 ('1999-05-01', 11.129, 2889),
 ('1999-06-01', 14.604, 2889),
 ('1999-07-01', 18.009, 2889),
 ('1999-08-01', 17.299, 2889),
 ('1999-09-01', 16.339000000000002, 2889),
 ('1999-10-01', 9.291, 2889),
 ('1999-11-01', 5.736000000000001, 2889),
 ('1999-12-01', 1.638, 2889),
 ('2000-01-01', 3.065, 2889),
 ('2000-02-01', 3.724, 2889),
 ('2000-03-01', 3.976, 2889),
 ('2000-04-01', 8.321, 2889),
 ('2000-05-01', 13.567, 2889),
 ('2000-06-01', 14.702, 2889),

In [67]:
cur.executemany("INSERT INTO Temperature ('Date','Avg_Temperature','City_ID') Values (?,?,?)",temp_table_values)

In [75]:
df1=pd.read_sql_query("Select * from Temperature", conn)
display(df1)

              PK        Date Avg_Temperature  City_ID
0              1  1950-01-01          -0.712     2889
1              2  1950-02-01           1.423     2889
2              3  1950-03-01           4.166     2889
3              4  1950-04-01           6.743     2889
4              5  1950-05-01          12.714     2889
...          ...         ...             ...      ...
2685145  2685146  2013-05-01          11.464     1714
2685146  2685147  2013-06-01          15.043     1714
2685147  2685148  2013-07-01          18.775     1714
2685148  2685149  2013-08-01          18.025     1714
2685149  2685150  2013-09-01            None     1714

[2685150 rows x 4 columns]

In [76]:
create_table(conn,'''CREATE TABLE Loc_Table (ID INTEGER  PRIMARY KEY , City_ID INTEGER, LAT FLOAT,LONG FLOAT,
FOREIGN KEY(City_ID) REFERENCES City_Table(City_ID))''')

In [98]:
#Lat= North is positive, South is negative
#Long= West is negative, East is positive
data_to_check_loc=result_data_for_loc_table
data_to_input_loc_table=[]
j=0
for i in data_to_check_loc:
    t=[0,0,0]
    if i[1][-1]=='N':
         t[1]=(float(i[1][:-1]))
    if i[1][-1]=='S':
         t[1]=float(i[1][:-1])*(-1)
    if i[2][-1]=='E':
         t[2]=float(i[2][:-1])  
    if i[2][-1]=='W':
         t[2]=float(i[2][:-1])*(-1)
    t[0]=i[0]
    tuple1=(city_ids[t[0]],t[1],t[2])
    data_to_input_loc_table.append(tuple1)
data_to_input_loc_table

[(2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (2889, 57.05, 10.33),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),
 (318, 40.99, 27.69),

In [99]:
cur.executemany("INSERT INTO Loc_Table ('City_ID','LAT','LONG') Values (?,?,?)",data_to_input_loc_table)

In [102]:
df1=pd.read_sql_query("Select * from Loc_Table ", conn)
display(df1)

              ID  City_ID    LAT   LONG
0              1     2889  57.05  10.33
1              2     2889  57.05  10.33
2              3     2889  57.05  10.33
3              4     2889  57.05  10.33
4              5     2889  57.05  10.33
...          ...      ...    ...    ...
2685145  2685146     1714  52.24   5.26
2685146  2685147     1714  52.24   5.26
2685147  2685148     1714  52.24   5.26
2685148  2685149     1714  52.24   5.26
2685149  2685150     1714  52.24   5.26

[2685150 rows x 4 columns]

In [ ]:
df1=pd.read_sql_query("select * from Loc_Table join Temperature on Loc_Table.City_ID=Temperature.City_ID join city_table on city_table.city_id=Temperature.City_ID join country_table on country_table.pk=city_table.country_id group by Date LIMIT 10", conn)
display(df1)
#("select * from Loc_Table join Temperature on Loc_Table.City_ID=Temperature.City_ID join city_table on city_table.city_id=Temperature.City_ID join country_table on country_table.pk=city_table.country_id LIMIT 10",conn)

In [ ]:
city_index=execute_sql_statement("Select * from "Select * from City_Table"", conn)
city_indexes={}
for i in abc:
    abc1[i[1]]=i[0]